<mat-progress-bar
  mode="indeterminate"
  color="accent"
  *ngIf="isLoading"
></mat-progress-bar>
<div class="container">
  <div class="login offset-md-3 mt-5">
    <div class="card">
      <div class="card-header text-center">
        <h4 class="card_header">Forget Password</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group row mb-3 mt-3">
            <div class="col-sm-2">
              <label for="email" class="col-form-label">Email:</label>
            </div>
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter Email"
                formControlName="email"
              />
              <span
                class="text-danger"
                *ngIf="
                  !forgetPasswordForm.get('email').valid &&
                  forgetPasswordForm.get('email').touched
                "
              >
                Please provide a valid email
              </span>
            </div>
          </div>
          <div class="mx-auto d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Generate OTP</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
