<div class="container">
  <div class="login offset-md-3 mt-5">
    <div class="card">
      <div class="card-header text-center">
        <h4 class="card_header">Reset Password</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group row mb-3 mt-3">
            <div class="col-sm-3">
              <label for="email" class="col-form-label">Email:</label>
            </div>
            <div class="col-sm-9">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter Email"
                formControlName="email"
              />
              <span
                class="text-danger"
                *ngIf="
                  !resetPasswordForm.get('email').valid &&
                  resetPasswordForm.get('email').touched
                "
              >
                Please provide a valid email
              </span>
            </div>
          </div>
          <div class="form-group row mb-3 mt-3">
            <div class="col-sm-3">
              <label for="password" class="col-form-label">New Password:</label>
            </div>
            <div class="col-sm-9">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter New Password"
                formControlName="newPassword"
              />
              <span
                class="text-danger"
                *ngIf="
                  !resetPasswordForm.get('newPassword').valid &&
                  resetPasswordForm.get('newPassword').touched
                "
              >
                Please provide a valid password
              </span>
            </div>
          </div>
          <div class="form-group row mb-3 mt-3">
            <div class="col-sm-3">
              <label for="email" class="col-form-label">OTP:</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="otp"
                placeholder="Enter OTP"
                formControlName="otp"
              />
              <span
                class="text-danger"
                *ngIf="
                  !resetPasswordForm.get('otp').valid &&
                  resetPasswordForm.get('otp').touched
                "
              >
                Please provide a valid OTP
              </span>
            </div>
          </div>
          <div class="mx-auto d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">
              Change Password
            </button>
            <button
              type="button"
              (click)="forgetPassword()"
              class="btn btn-outline-danger ms-2"
            >
              Generate New OTP ?
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
