<div class="container d-flex justify-content-center">
  <mat-card class="post-card mt-5">
    <mat-card-header>
      <div
        mat-card-avatar
        class="post-header-image"
        style="background-image: url('../../../assets/images/user.png')"
      ></div>
      <mat-card-title>{{ post.userName }}</mat-card-title>
      <mat-card-subtitle>{{ post.postTitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ post.postDescription }}
      </p>
    </mat-card-content>
    <img
      *ngIf="post.postUrl"
      mat-card-image
      src="{{ post.postUrl }}"
      alt="Comedy photo"
    />

    <mat-card-actions class="d-flex justify-content-start mb-2">
      <button
        mat-mini-fab
        color="primary"
        class="ms-3 me-3"
        matBadge="{{ post.voteCount }}"
      >
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button mat-mini-fab color="primary" class="ms-3 me-3">
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button mat-raised-button class="ms-3 me-3" disabled>
        <mat-icon>comment</mat-icon> Comments
      </button>
      <button mat-raised-button color="primary" class="ms-3">
        <mat-icon>report</mat-icon> Report
      </button>
      <button
        mat-mini-fab
        color="primary"
        class="ms-2"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Update</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-card-actions>

    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <quill-editor
        class="ql-container"
        theme="snow"
        formControlName="commentControl"
        placeholder="Enter comment"
        [modules]="quillConfiguration"
        [styles]="editorStyle"
      >
      </quill-editor>
      <button mat-raised-button class="mt-3" color="primary" type="submit">
        <mat-icon class="me-1">comment</mat-icon>Comment
      </button>
    </form>
    <app-comment></app-comment>
  </mat-card>
</div>
