<div class="container">
  <mat-card class="post-card offset-md-3 mt-5">
    <mat-card-header>
      <div
        mat-card-avatar
        class="post-header-image"
        style="background-image: url('../../../assets/images/user.png')"
      ></div>
      <mat-card-title>{{ post.userName }}</mat-card-title>
      <mat-card-subtitle>{{ post.postTitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ post.postDescription }}
      </p>
    </mat-card-content>
    <img
      *ngIf="post.postUrl"
      mat-card-image
      src="{{ post.postUrl }}"
      alt="Comedy photo"
    />

    <mat-card-actions class="d-flex justify-content-start mb-2">
      <button mat-mini-fab color="primary" class="ms-3 me-3">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button mat-mini-fab color="primary" class="ms-3 me-3">
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="ms-3 me-3">
        <mat-icon>comment</mat-icon> Comment
      </button>
      <button mat-raised-button color="primary" class="ms-3">
        <mat-icon>report</mat-icon> Report
      </button>
    </mat-card-actions>
  </mat-card>
</div>
