.post-card {
  max-width: 640px;
  max-height: 2000px;
  background-color: #ffffff;
}

.post-header-image {
  background-size: cover;
}

.user {
  cursor: pointer;
}

.post__cardImage {
  max-height: 500px;
}
