@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

.login {
  max-height: 900px;
  max-width: 900px;
}

.card_header {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 10px;
}
